/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

.panel{
    margin-top: 2rem;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


.bs-callout{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    &.bs-callout-info{
        border-left-color: #1b809e;
    }
    &.bs-callout-warning{
        border-left-color: #fadd7a;
    }
    &.bs-callout-danger{
        border-left-color: #fa4140;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.panel{
    .bs-callout{
        margin: 20px 20px;
    }
}

table{
    .fa-check{
        color: #2bbb30;
    }

    .fa-times{
        color: #bb1b23;
    }

    .fa-external-link{
        padding-right: 1rem;
    }
}


.flash-message {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    background: #2bbb30;
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 2rem 4rem;
    width: 200px;
    z-index: 1000;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    display: none;
}

.btn{
    border: none;
}

.btn:focus{
    outline: none;
}

.btn-submit{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.error{
    display: none;
}